@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  height: 4000px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}
* {
  margin: 0;
  padding: 0;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: white;
  transform-origin: 0%;
}
.cont {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.lines-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(
      90deg,
      transparent 0,
      transparent 49px,
      rgba(255, 255, 255, 0.15) 10px,
      rgba(255, 255, 255, 0.15) 50px
    ),
    repeating-linear-gradient(
      0deg,
      transparent 0,
      transparent 49px,
      rgba(255, 255, 255, 0.15) 10px,
      rgba(255, 255, 255, 0.15) 50px
    );
  animation: pulse 4s infinite;
}
@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.underline-hover:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.underline-hover {
  position: relative;
}
.underline-hover:hover:after {
  width: 100%;
  left: 0;
}
